/* Basic form elements */

/* Buttons */
#bookingForm .btn,
#bookingForm .act {
  display: block;
  margin: 30px auto 0;
  background-color: #24890D;
  border: 0px none;
  border-radius: 2px;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 30px 11px;
  text-transform: uppercase;
  vertical-align: bottom;
}

#bookingForm .btn:hover,
#bookingForm .act:hover {
  background-color: #41A62A;
}

#bookingForm select {
  padding: 4px 10px;
}

#bookingForm .form-group {
  padding: 2px 0;
}

#bookingForm .form-group input,
#bookingForm .form-group textarea {
  width: 49.5%;
}

#bookingForm .wide input,
#bookingForm .wide textarea {
  width: 100%;
}

#bookingForm .narrow input {
  width: 40%;
}

#bookingForm .narrow button {
  width: 18%;
  display: inline;
}

#bookingForm .form-group input[type="checkbox"],
#bookingForm .form-group input[type="radio"] {
  width: 20%;
}

/* Text styles */
#bookingForm .section {
  border-bottom: 1px solid #ccc;
  padding: 20px 0 5px 0;
}

/* List styles */
#bookingForm ul.summary {
  list-style-type: none;
}

/* Car data */
#bookingForm .car_data {
  margin: 0 0 20px 0;
  display: table;
  padding: 5px 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  width: 100%;
}

#bookingForm .car_image {
  float: left;
  width: 100px;
  vertical-align: middle;
}

#bookingForm .car_info_middle {
  float: left;
  width: 50%;
  padding: 0 0 0 20px;
}

#bookingForm .car_info_middle .car_info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#bookingForm .car_info_middle .car_info li {
  display: inline-block;
  padding: 0 10px;
}

#bookingForm .car_info_right {
  float: left;
  padding: 3% 0px 0px 20px;
  width: 20%;
}

#bookingForm .car_info_right .selection {}